[submodule "form"]
	path = form
	url = https://github.com/gaddario98/react-base-form.git
[submodule "localization"]
	path = localization
	url = https://github.com/gaddario98/react-base-localization.git
[submodule "pages"]
	path = pages
	url = https://github.com/gaddario98/react-base-pages.git
[submodule "queries"]
	path = queries
	url = https://github.com/gaddario98/react-base-queries.git
[submodule "state"]
	path = state
	url = https://github.com/gaddario98/react-base-state.git